* {
	margin: 0;
	padding: 0;
	font-family: 'switzer';
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: rgb(15, 15, 15);
	background: radial-gradient(
		at 80% 80%,
		rgb(29, 29, 29) 0%,
		rgb(0, 0, 0) 76%,
		rgb(29, 29, 29) 100%
	);
	color: white;
}

.chartBox {
	width: 600px;
	padding: 0px;
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
}

.title-subclaim {
	font-style: italic;
}

.informations {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: absolute;
	left: 0;
	top: 0;
	padding: 30px;
	justify-content: space-between;
	height: 100%;
}

.titles {
	display: none;
}

.lists {
	display: none;
	flex-direction: column;
	gap: 20px;
}

/* ul.list {
	border: 1px solid rgba(255, 255, 255, 0.495);
	border-radius: 5px;
	width: 300px;
	overflow: hidden;
	margin-top: 5px;
} */

ul.list {
	margin-top: 5px;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.list > li {
	display: grid;
	grid-template-columns: 30px 1fr;
	gap: 10px;
	align-items: center;
}

.list > li > span:first-child {
	background-color: aqua;
	width: 100%;
	aspect-ratio: 1;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul.list > li:nth-child(1) > span:first-child {
	background: #660d05;
}

ul.list > li:nth-child(2) > span:first-child {
	background: #7c1006;
}

ul.list > li:nth-child(3) > span:first-child {
	background: #a31609;
}

ul.list > li:nth-child(4) > span:first-child {
	background: #ab190c;
}

ul.list > li:nth-child(5) > span:first-child {
	background: #cc1f0f;
}

ul.list-word > li:nth-child(1) > span:first-child {
	background: #056660;
}

ul.list-word > li:nth-child(2) > span:first-child {
	background: #067c74;
}

ul.list-word > li:nth-child(3) > span:first-child {
	background: #09a387;
}

ul.list-word > li:nth-child(4) > span:first-child {
	background: #0cab8e;
}

ul.list-word > li:nth-child(5) > span:first-child {
	background: #0fccb9;
}

/* .list > li > span {
	display: flex;
	align-items: center;
	padding: 5px 10px;
}
.list > li > span:first-child {
	border-right: 1px solid rgba(255, 255, 255, 0.495);
	padding: 5px 10px;
}
ul.list > li {
	list-style-type: none;
	display: grid;
	grid-template-columns: 30px 1.5fr 1fr;
} */

.text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	text-align: center;
}

/* ABOUT PAGE */

.container {
	padding: 100px;
}

.container ul {
	margin: 20px;
}

.container h3 {
	margin: 20px 0;
}

.big-link:hover {
	background-color: #067c74;
}

.big-link {
	color: white;
	margin-top: 50px;
	display: inline-block;
	padding: 10px;
	background-color: #1f2e2d;
	text-decoration: none;
	position: relative;
	transition: background-color ease 0.5s;
}

.link {
	color: rgb(255, 255, 255);
	position: relative;
	text-decoration: none;
}

.link::before {
	transform: scaleX(0);
	transform-origin: bottom right;
}

.link:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.link::before {
	content: ' ';
	display: block;
	position: absolute;
	top: 90%;
	right: 0;
	bottom: 0;
	left: 0;
	inset: 0 0 0 0;
	background: #056660;
	z-index: -1;
	transition: transform 0.6s ease;
}

.bottom-link {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 14px;
}
